@import '../../../assets/styles/mixins.scss';

.input {
	@apply relative block mb-5;

	> input {
		@apply p-2 w-full text-xs rounded-md overflow-hidden block bg-white;
		@include shadow();

		&::placeholder {
			color: text-gray-500;
		}

		&:focus-visible {
			outline: none;
		}
	}
}

.error {
	@apply absolute -bottom-4 left-0 w-ful text-primary;
	font-size: 0.75rem;
}